@import './Utils.scss';

$item-num: 5;
$item-max-width: 96px;
$item-width: 28vw;
$llist-btn-max-size: 48px;
$llist-btn-size: 14vw;
.LListBtn {
  margin: auto;
}
.ItemList {
  display: grid;
  width: $item-width * $item-num;
  max-width:$item-max-width * $item-num; 
  grid-template-columns: repeat($item-num, 1fr);
  height: 100%;
  margin-left: 3vw;
}
.ItemListWithLLBtn {
  display: grid;
  width: ($item-width * $item-num) + $llist-btn-size;
  max-width: ($item-max-width * $item-num) + $llist-btn-max-size;
  grid-template-columns: unquote("min(#{$llist-btn-size}, #{$llist-btn-max-size)})") repeat($item-num, 1fr);
  height: 100%;
}
.MainNav {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.Item {
  width:  85%;
  height: 85%;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
}
.ItemText {
  font-size: 1.1rem;
  font-weight: bold;
  @include vertical-center;
  text-align: center;
}
.SelectedItem {
  @extend .Item;
  background: $gray-light;
}
.ProfileWrapper {
  width: 100%;
  height: 100%;
}



.Profile {
  float: right;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 50px;

}
.Login{
  height: 100%;
  width: 50px;
  background-color: aqua;
}
.Register{
  height: 100%;
  width: 50px;
  background-color: aqua;
}